.categories {
  transform: translateX(-100%);
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(241, 129, 129, 0.8);
  transition: 0.2s;
}

.categories_active {
  transform: translateX(0);
  transition: 0.2s;
}
