.menu {
  width: 3vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: fixed;
  left: 1vw;
  top: 1vh;
  border-radius: 5vmax;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}

.menu:hover {
  transform: scale(1.1);
  box-shadow: 0 0.1vmax 0.1vmax rgba(0, 0, 0, 0.25);
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container__line {
  position: absolute;
  width: 2vw;
  height: 0.4vh;
  background: black;
  border-radius: 6vmax;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}

.menu-container__line::before {
  position: absolute;
  content: '';
  width: 1.5vw;
  height: 0.4vh;
  background: black;
  transform: translateY(-1vh);
  border-radius: 6vmax;
  transition: 0.2s;
}

.menu-container__line::after {
  position: absolute;
  content: '';
  width: 1.5vw;
  height: 0.4vh;
  background: black;
  transform: translateY(1vh);
  border-radius: 6vmax;
  transition: 0.2s;
}

.menu_active .menu-container__line {
  width: 0;
}

.menu_active .menu-container__line::before {
  transform: translateY(-1vh);
  transform: rotate(-45deg);
  transition: 0.2s;
}

.menu_active .menu-container__line::after {
  transform: translateY(1vh);
  transform: rotate(45deg);
  transition: 0.2s;
}

@keyframes close {
  from {
    width: 2vw;
  }

  to {
    width: 0;
  }
}
